.videocard{
    color: white;
    width: 320px;
    height: 220px;
    padding: 10px;
    margin-bottom: 30px; 
    transition: all 0.4s ease;
}
.videocard:hover{
    transform: scale(1.085);
    transition: all 0.4s ease;
}
.videocard img{
    object-fit: contain;
    height: 160px;
}
.videocard__overview{
    margin-bottom: 5px;
    font-size: 12px;
}
.full-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-start{
    justify-content: flex-start !important;
}
.hover-visible{
    display: none;
}
.videocard:hover .hover-visible{
    display: flex;
}